body {
  background-color: white;
  /* display: flex; ---- para que el fondo en login quede bien...*/
  /* justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0; */
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }

.homeRebozo {
  display: flex;
  align-content: center;
  justify-content: space-between;
  /* height: 400px; */
  gap: 10px;
  flex-direction: column;
  /* flex: 1; */
  /* padding-bottom: 4%; */
  align-items: center;
  height: 50%;
  background: url("img/rebozoEncendido.png") center/cover no-repeat;
}
.slogan {
  
  color: rgb(250, 244, 244); /* Color del texto */
  font-size: x-large; /*Tamaño de fuente */
  font-family: monospace; /* Familia de fuentes */
  background-color: rgba(165, 59, 10, 0.89); /* Fondo negro semitransparente */
  padding: 1em; /* Espaciado interno */
  text-align: center;
  align-content: space-between;
  margin-top: 9%;
  width: 19em;
}
.formHome {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 0.6em;
  height: 17em;
  flex-direction: column;
  width: auto;
  background-color: white;
}
.botonesHome {
  background-color: rgb(4, 161, 223);
  color: white;
  font-size: 1.6em;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  border: 1px solid rgb(4, 161, 223);
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  white-space: nowrap;
  width: 200px; /* Establecer un ancho fijo para todos los botones */
}
.botonesHome:hover {
  background-color: brown;
}
.botonesHomeG {
  background-color: rgb(4, 161, 223);
  color: white;
  font-size: 1.6em;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  border: 1px solid rgb(4, 161, 223);
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  white-space: nowrap;
  width: 200px; /* Establecer un ancho fijo para todos los botones */
}
.botonesHomeG:hover {
  background-color: brown;
}
.logo {
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 3px black;
}
.logo img {
  max-width: 100%;
  max-height: 100%;
}
img {
  margin: 40px, 20px, 0px, 20px;
}
.backgroundWall {
  background-color: aqua;
}
/* Estilos para la sección de registro */
.formRegister {
  background-color: white;
  border: 1px solid rgb(223, 92, 4);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0%;
  width: 390px;
  align-content: space-between;
  text-align: center;
  margin-top: 5em;
}
h2 {
  color: black;
  font-size: 3em;
  font-family: monospace;
  margin: 0;
  padding-top: 1em;
}
h3 {
  color: black;
  font-size: 1em;
  font-family: monospace;
  padding-bottom: 3em;
}
/* Estilos para el div de fondo */
sectionRebozo2 {
  background: url("img/rebozoEncendido.png") center/cover no-repeat;
}
sectionRebozo3 {
  background: url("img/rebozoEncendido.png") center/cover no-repeat;
}
/* Estilos para inputs y botones */
.inputRegister {
  background-color: white;
  color: rgb(85, 60, 14);
  font-size: 1.6em;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  border: 1px solid rgb(223, 92, 4);
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
  white-space: nowrap;
  width: 200px;
}
.buttonReturnRegister {
  background-color: rgb(4, 161, 223);
  color: white;
  font-size: 1.6em;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  border: 1px solid rgb(4, 161, 223);
  padding: 10px 20px;
  margin-bottom: 1.6em;
  cursor: pointer;
  /* display: inline-block; */
  /* margin: 10px; */
  border-radius: 50px;
  white-space: nowrap;
  width: 200px; /* Establecer un ancho fijo para todos los botones */
}
.buttonReturnRegister:hover {
  background-color: brown;
  border: 1px solid brown (4, 161, 223);
}
.buttonRegisterRegister {
  background-color: rgb(4, 161, 223);
  color: white;
  font-size: 1.6em;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  border: 1px solid rgb(4, 161, 223);
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 50px;
  white-space: nowrap;
  width: 200px; /* Establecer un ancho fijo para todos los botones */
}
.buttonRegisterRegister:hover {
  background-color: brown;
  border: 1px solid brown (4, 161, 223);
}

/*colorcito al login*/
.login-background {
  background: url("img/rebozoEncendido.png");
  background-size: 100% 100%; 
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; 
}
.header-text {
  color: white;
  font-size: 5vw;
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  max-width: 100%;
  z-index: 1;
  text-align: center;
  background-color: rgba(254, 254, 254, 0.1); 
  backdrop-filter: blur(10px); /* Agrega un efecto de difuminado */
}
/* Estilo para los botones y otros elementos en la sección */
section {
  text-align: center;
  position: relative;
  z-index: 1;
   /* Agrega posición relativa para que estén por encima del fondo */
}
/* Estilo para centrar los elementos verticalmente en la sección */
section > * {
  margin: 10px 0;
}
/* Estilo para centrar los elementos verticalmente en el formulario */
form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center; 
  position: relative;
  z-index: 1;
}
/* Estilo para los elementos dentro del formulario */
form > * {
  margin: 10px 0; 
  position: relative;
  z-index: 1;
  
}
/* Estilo para los campos de entrada de texto */
input {
  background-color: white;
  color: rgb(85, 60, 14);
  font-size: 1.6em;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  border: 2px solid #FF8055;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
  white-space: nowrap;
  width: 200px;
  z-index: 1;
  /* margin: 0 auto; 
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #FF8055; 
  border-radius: 5px;
  background: none; 
  position: relative; */
}


/* Estilo para los botones en el formulario */
form button {
  padding: 0.9375em 1.25em; /*15px 20px*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.30em; 
  background-color: #32B2B5; 
  color: white;
  border: none; 
  border-radius: 0.5em; /* 8px / 16px = 0.5em */
  position: relative;
  z-index: 1;  
}
/* Estilo para los enlaces de "¿Olvidaste tu contraseña?" y "¿Aún no tienes cuenta?" */
form p a {
  color: #4D4C4C;; /* Color de enlace */
  text-decoration: none; /* Sin subrayado */
  position: relative;
  z-index: 1;
}  
/* Estilo para el fondo blanco */
.white-background {
  background-color: white;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 35px;
  z-index: -1;
}
/* Estilos para el título y subtítulo */
h2 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 70px; 
  margin-top: 90px; 
  font-weight: bold; 
  position: relative;
  z-index: 1; 
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #4D4C4C;
  letter-spacing: 1px;
  position: relative;
  z-index: 1; /* Coloca los subtítulos por encima del cuadro blanco */
}
.create-account-button {
  background: none;
  border: none;
  color: #121294;
  font-size: 16px;
  cursor: pointer;
}

.inline-text {
  display: inline;
  margin-right: 2px; 
  color: #4D4C4C;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #4D4C4C;
}