body {
  background-color: white;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
/* --------------------Estilos para:'home.js'---------------------- */
.homeRebozo {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  height: 50%;
  background: url("img/rebozoEncendido.png") center/cover no-repeat;
}
.slogan {
  color: rgb(250, 244, 244); /* Color del texto */
  font-size: x-large; /*Tamaño de fuente */
  font-family: monospace; /* Familia de fuentes */
  background-color: rgba(165, 59, 10, 0.89); /* Fondo negro semitransparente */
  padding: 1em; /* Espaciado interno */
  text-align: center;
  align-content: space-between;
  margin-top: 9%;
  width: 17em;
}
.formHome {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 0.6em;
  height: 17em;
  flex-direction: column;
  width: auto;
  background-color: white;
}
.botonesHome {
  padding: 0.9375em 1.25em; /*15px 20px*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.30em; 
  background-color: #32B2B5; 
  color: white;
  border: none; 
  border-radius: 0.5em; /* 8px / 16px = 0.5em */
  position: relative;
  z-index: 1; 
  cursor: pointer;
}
.botonesHome:hover {
  background-color: brown;
  border: 1px solid brown (4, 161, 223);
}
.botonesHomeG {
  padding: 0.9375em 1.25em; /*15px 20px*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.30em; 
  background-color: white; 
  color: #32B2B5  ;
  border: 2px solid #32B2B5; 
  border-radius: 0.5em; /* 8px / 16px = 0.5em */
  position: relative;
  z-index: 1; 
  cursor: pointer;
}
.botonesHomeG:hover {
  background-color: brown;
  border: 1px solid brown (4, 161, 223);
}
.logo {
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 3px black;
}
.logo img {
  max-width: 100%;
  max-height: 100%;
}

/* img {
  margin: 40px, 20px, 0px, 20px;
} */

/* Estilos para la sección de registro */

.formRegister {
  background-color: white;
  border: 0.5px solid rgb(223, 92, 4);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 390px;
  align-content: space-between;
  text-align: center;
}
.white-background1 {
  background-color: white;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 35px;
  z-index: -1;
  margin-top: 5em;
  margin-bottom: -1em;
}

/* Estilos para inputs y botones */
.inputRegister {
  background-color: white;
  color: rgb(85, 60, 14);
  font-size: 1.6em;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  border: 2px solid #FF8055;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
  white-space: nowrap;
  width: 200px;
  z-index: 1;

}
.buttonReturnRegister {
  padding: 0em 0em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.30em; 
  background-color: #32B2B5; 
  color: white;
  border: none; 
  border-radius: 0.5em; /* 8px / 16px = 0.5em */
  position: relative;
  z-index: 1; 
  cursor: pointer;
  width: 13em;
  height: 2em;

}
.buttonReturnRegister:hover {
  background-color: brown;
  border: 1px solid brown (4, 161, 223);
}
.buttonRegisterRegister {
  padding: 0em 0em; /*15px 20px*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.30em; 
  background-color: #32B2B5; 
  color: white;
  border: none; 
  border-radius: 0.5em; /* 8px / 16px = 0.5em */
  position: relative;
  cursor: pointer;
  width: 13em;
  height: 2em;
  justify-content: center;
  text-align: center;
}
.buttonRegisterRegister:hover {
  background-color: brown;
  border: 1px solid brown (4, 161, 223);
}

/*colorcito al login*/
.login-background {
  background: url("img/rebozoEncendido.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 }

.header-text {
  color: rgb(241, 146, 12);
  font-size: 5vw;
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  max-width: 100%;
  z-index: 1;
  text-align: center;
  /*background-color: rgba(254, 254, 254, 0.1);
  /*backdrop-filter: blur(10px);/*Agrega un efecto de difuminado*/
  text-shadow: 2px 2px 2px black;
}
/* Estilo para los botones y otros elementos en la sección */
section {
  text-align: center;
  position: relative;
  z-index: 1;
  /* Agrega posición relativa para que estén por encima del fondo */
}
/* Estilo para centrar los elementos verticalmente en la sección */
section > * {
  margin: 10px 0;
}
/* Estilo para centrar los elementos verticalmente en el formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  position: relative;
  z-index: 1;
}
/* Estilo para los elementos dentro del formulario */
form > * {
  margin: 10px 0;
  position: relative;
  z-index: 1;
  
}
/* Estilo para los campos de entrada de texto */
input {
  background-color: white;
  color: rgb(85, 60, 14);
  font-size: 1.6em;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  border: 2px solid #ff8055;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
  white-space: nowrap;
  width: 200px;
  z-index: 1;
  /* margin: 0 auto; 
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #FF8055; 
  border-radius: 5px;
  background: none; 
  position: relative; */
}

/* Estilo para los botones en el formulario */
form button {
  padding: 0em 0em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.30em; 
  background-color: #32B2B5; 
  color: white;
  border: none; 
  border-radius: 0.5em; /* 8px / 16px = 0.5em */
  position: relative;
  z-index: 1; 
  cursor: pointer;
  width: 13em;
  height: 2em;
}
.buttonReturn {
  padding: 0em 0em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.30em; 
  background-color: #32B2B5; 
  color: white;
  border: none; 
  border-radius: 0.5em; /* 8px / 16px = 0.5em */
  position: relative;
  z-index: 1; 
  cursor: pointer;
  width: 13em;
  height: 2em;

}
/* Estilo para los enlaces de "¿Olvidaste tu contraseña?" y "¿Aún no tienes cuenta?" */
form p a {
  color: #4d4c4c; /* Color de enlace */
  text-decoration: none; /* Sin subrayado */
  position: relative;
  z-index: 1;
}
/* Estilo para el fondo blanco */
.white-background {
  background-color: white;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 35px;
  z-index: -1;
  margin-top: 4em;
  margin-bottom: 0em;
}
/* Estilos para el título y subtítulo */
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 70px;
  margin-top: 90px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #4d4c4c;
  letter-spacing: 1px;
  position: relative;
  z-index: 1; /* Coloca los subtítulos por encima del cuadro blanco */
}
.create-account-button {
  background: none;
  border: none;
  color: #121294;
  font-size: 16px;
  cursor: pointer;
}

.inline-text {
  display: inline;
  margin-right: 2px;
  color: #4d4c4c;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #4d4c4c;
}

/* estilos para wall */

.backgroundWall {
  background: url("img/rebozoRosita.png");
}
.title-muro{
  color: rgb(234, 243, 233);
}
.button-close{
  padding: 0em 0em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.30em; 
  background-color: white; 
  color: #0d0e0e;
  border: solid black; 
  border-radius: 0.5em; /* 8px / 16px = 0.5em */
  position: relative;
  z-index: 1; 
  cursor: pointer;
  width: 6em;
  height: 2em;
}
.post{
  background-color: #e6dcd9;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  border-radius: 10px; 
  margin-bottom: 20px; /* Aumenta el espacio entre posts */
  box-shadow: 0 4px 3px rgba(0, 0, 0, 2); 
}
.post p {
  margin: 0; /* Elimina el margen predeterminado de los párrafos dentro de los posts */
}

.sectionUser {
  background-color: #f8f8f8; /* Color de fondo suave */
  border-radius: 10px; /* Bordes redondeados */
  border: #8a4313;
  /* padding: 20px; Espaciado interno */
  display: flex;
  flex-direction: column;
  align-items:start;
  color: #32B2B5;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  padding: 15px;
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px rgba(209, 20, 20, 0.1);
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

dl {
  display: flex;
  flex-direction: column;
  align-items: center;
}

dt, dd {
  margin: 5px 0; /* Espaciado entre elementos */
}

.postArea{
  background-color: #f3f0ee;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 90%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #32B2B5;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: none; /* Evita que el usuario pueda redimensionar el textarea */
  font-size: 16px;
  line-height: 1;
}

.postArea:focus {
  outline: none; 
}

.buttonPost{
    padding: 0em 0em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.30em; 
  background-color: #32B2B5; 
  color: white;
  border: none; 
  border-radius: 0.5em; /* 8px / 16px = 0.5em */
  position: relative;
  z-index: 1; 
  cursor: pointer;
  width: 6em;
  height: 2em;
}
.postsCont{
  background: url("img/rebozoRosita.png");
  padding: 20px;
}
.sectionPosts {
  background-color: #fff; /* Cambia el color de fondo de la sección de posts */
  border-radius: 10px; /* Bordes más redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  padding: 20px; /* Añade un espacio de relleno */
  margin-top: 20px; /* Aumenta el espacio entre la sección de usuario y los posts */
}